.ModelLoader{
  border-width: 0px;
  border-color: transparent;
  margin-bottom: 15%;
  background-color: transparent;
  align-items: center;
}

.ModalClass{
  background-color: rgba(0, 0, 0, .5);
}

.Text{
  color: white;
  font-size: 30px;
  margin-right: 10px;
}

